// repositorio para hapimetro
<?php

$happy=$_POST['happy'];
$unhappy=$_POST['unhappy'];
$estadistica=$_POST['stats'];

  
   if(isset($happy)){
   $happy=$happy+1;
    echo ("eres feliz"); 
   }


     if(isset($unhappy)){
   $unhappy=$unhappy+1;
    echo ("eres infeliz"); 
   }

if(isset($estadistica)){
   echo("HAPPY = '$happy' <br> UNHAPPY ='$unhappy'");
}

?>

<html> 
<title> Happy </title>
<head> <h4>Hapimetro</h4> 


<h1> How you feel today? </h1><alling center>

</head>
	<body>
   <from method="post" action="happy.php">
    
    <input  name="happy" type="submit" value="Happy">

    <input  name="unhappy" type="submit" value="UnHappy">

     
    <input  name="stats" type="submit" value="Estadisticas">



    </form>
	</body>
</html>
